@charset "UTF-8";
@font-face {
  font-family: 'D2Coding';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFStardust';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
}
body{
  font-family: 'PFStardust';
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
  background-color: #7a04eb;
  /* background-color: darkslateblue; */
  /* background-color:#637592; */
  cursor: url("../img/mouse_default.png"), auto;
  overflow-x: hidden;
}
ul,ol,li{
  list-style-type: none;
}
a{
  text-decoration: none;
}
a:hover,  a:focus, a:active, .effectOff-label:hover{
  cursor: url("../img/mouse_pointer.png"), auto;
}
p{
  word-break:keep-all;
}
#music:hover, #music:focus, #music:active{
  cursor: url("../img/mouse_music.png"), auto;
}
::selection{
  color: black;
  background-color: #00ff99;
  /* background-color: #caef00; */
  /* background-color: #FFA09B; */
  text-shadow: none;
}


.container{
  width: 80%;
  margin:0 auto;
  position: relative;
}
.page-title{
  text-align: center;
  font-size: 5rem;
  letter-spacing: 5px;
}
.page-title::before,
.page-title::after{
  content: " ◇ ";
  color: cyan;
  animation-name: mailColor;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}



/* 로딩화면 */
#loadingScreen{
  font-size: 6.5rem;
  line-height: 7rem;
  white-space: nowrap;
  width: 100%;
  height: 100vh;
  background-color: #4e0296;
  position: fixed;
  z-index: 99999;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: all 0.5s;
  user-select: none;
  overflow: hidden;
}
#loadingScreen::before{
  content:"(~˘▾˘)~";
  font-size: 100px;
  line-height: 100px;
  opacity: 0.4;
  position: absolute;
  top: 15%;
  left: 20%;
  transform: translate(-50%,50%);
}
#loadingScreen::after{
  content:"= ＾● ⋏ ●＾ =";
  font-size: 100px;
  line-height: 100px;
  opacity: 0.4;
  position: absolute;
  top: 65%;
  left: 75%;
  white-space: nowrap;
  transform: translate(-50%,50%);
}
#loadingScreen p{
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  white-space: normal;
}


/* 음악 */
#music{
  width: 60px;
  height: 60px;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 5%;
  z-index: 99998;
}
#music:hover{
  width: 200px;
  height: 60px;
}
#music:hover ~ .effectOff-label{
  right: calc(5% + 220px);
}

#music img{
  width: 50px;
  height: 50px;
  margin: 5px;
  object-fit: cover;
  animation-name: LProtate;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes LProtate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
#music:hover img{
  display: none;
}
#music iframe{
  opacity: 0;
}
#music:hover iframe{
  opacity: 1;
  width: 200px;
  height: 50px;
  margin: 5px 0;
  border: none;
}

/* 이펙트 옵션 */
#effectOff{
  display: none;
}
.effectOff-label{
  font-size: 2.4rem;
  line-height: 6rem;
  text-align: right;
  position: fixed;
  top: 0;
  right: calc(5% + 80px);
  z-index: 99998;
}
.effectOff-label:hover::before{
  content:" ▶ ";
}
#effectOff:checked ~ #profile::after{
  color: white;
  animation-duration: 0s;
}
#effectOff:checked ~ section .page-title::before,
#effectOff:checked ~ section .page-title::after{
  color: #00ff99;
  animation-duration: 0s;
}
#effectOff:checked ~ #portfolio::before{
  color: white;
  animation-duration: 0s;
}
#effectOff:checked ~ #portfolio::after{
  color: yellow;
  opacity: .8;
  animation-duration: 0s;
}
#effectOff:checked ~ #address::before{
  color: cyan;
  opacity: .6;
  animation-duration: 0s;
}
#effectOff:checked ~ #address::after{
  color: magenta;
  opacity: .7;
  animation-duration: 0s;
}
#effectOff:checked ~ #address .email::after{
  color: #00ff99;
  animation-duration: 0s;
}
#effectOff:checked ~ #address .email:hover::after{
  color: white;
  animation-duration: 0s;
}

/* 내비 */
#navi{
  font-size: 2.4rem;
  line-height: 6rem;
  width: 100%;
  height: 60px;
  padding: 0 5%;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  user-select: none;
  z-index: 9999;
}
#navi #naviList{
  display: flex;
}
#navi #naviList li:not(:last-of-type)::after{
  content: "＊";
  margin: 0 20px;
}
#navi #naviList li a:link,
#navi #naviList li a:visited{
  color: white;
}
#navi #naviList li a:hover{
  color: cyan;
  animation-name: mailColor;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#navi #naviETC{
  display: flex;
  align-items: center;
  gap: 20px;
}

/* 인트로 페이지 */
#introPage{
  width: 100%;
  height: 100vh;
  max-height: 1080px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  background-image: url('../img/intro_background_pixle.png');
  background-size:cover;
  background-attachment: fixed;
  text-shadow: 0 0 10px black;
}
#introPage .page-title{
  color: white;
  opacity: 1;
  animation-name: titleIntro;
  animation-duration: 3s;
  animation-delay: 4.5s;
}
@keyframes titleIntro {
  from{
    opacity: 0;
    transform: translateY(50%);
  }
  to{
    opacity: 1;
    transform: translateY(0%);
  }
}
#introPage .page-title::before,
#introPage .page-title::after{
  content: "";
}
#introPage p{
  font-size: 2rem;
}
#introPage p:last-of-type{
  font-size: 2.5rem;
  animation-name: updown;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
#introPage p:last-of-type::before,
#introPage p:last-of-type::after{
  content:"  ↓  ";
  color: rgba(255,255,255,.6);
  transition: all 0.2s;
}
@keyframes updown{
  from{
    transform: translateY(0%);
  }
  25%{
    transform: translateY(-25%);
  }
  50%{
    transform: translateY(0%);
  }
  75%{
    transform: translateY(-25%);
  }
  to{
    transform: translateY(0%);
  }
}

/* 프로필 */

#profile{
  width: 100%;
  margin-bottom: 100px;
  position: relative;
}
#profile .profileImage{
  width: 60%;
  height: 400px;
  position: relative;
  user-select: none;
}
#profile .profileImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 0.5s;
}
#profile .profileImage img:first-of-type{
  z-index: 10;
}
#profile .container:hover .profileImage img:first-of-type{
  opacity: 0;
}
#profile .profileImage::after{
  display: flex;
  content:"　　about me　？";
  font-size: 5rem;
  white-space: nowrap;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0,0,0,.8), transparent);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 15;
}
#profile p{
  display: inline-block;
  font-size: 2rem;
  letter-spacing: 3px;
  width: 40%;
  padding-left: 20px;
  position: absolute;
}
#profile .name{
  font-size: 3rem;
  line-height: 4rem;
  white-space: nowrap;
  width: 40%;
  padding-left: 20px;
  position: absolute;
  top: 0;
  right: 0;
}
#profile .profile{
  line-height: 4rem;
  white-space: nowrap;
  height: 16rem;
  top: 4rem;
  right: 0;
}
#profile .selfIntroduction{
  line-height: 3rem;
  font-weight: 400;
  height: 190px;
  top: 21rem;
  right: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
#profile::after{
  content:"?";
  color:cyan;
  font-size: 400px;
  line-height: 400px;
  opacity: 0.4;
  position: absolute;
  bottom: -350px;
  left: 90%;
  transform: translate(-50%,-50%);
  animation-name: mailColor;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: -99;
}

/* 기술 */
#skills{
  width: 100%;
  margin: 100px 0;
  position: relative;
}
#skills .skillList{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 50px 0;
}
#skills .skillList li{
  text-align: center;
  width: 300px;
  height: 500px;
}
#skills .skillList li:hover h3::before{
  content:"  ▶  ";
}
#skills .skillList li:hover h3::after{
  content:"  ◀  ";
}
#skills .skillList li img{
  width: 240px;
  height: 240px;
  margin: 0 auto;
}
#skills .skillList li .animationBox{
  position: relative;
  width: 300px;
  height: 240px;
}
#skills .skillList li .animationBox img{
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
  animation-name: iconSwitch;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
#skills .skillList li:nth-of-type(2) img:first-of-type{
  animation-delay: 2s;
}
@keyframes iconSwitch {
  from{
    height: 0;
  }
  49.99%{
    height: 0;
  }
  50%{
    height: 240px;
  }
  to{
    height: 240px;
  }
}
#skills .skillList li h3{
  font-size: 2.5rem;
  margin: 15px 0 ;
  white-space: nowrap;
}
#skills .skillList li p{
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 400;
  letter-spacing: 2px;
}
#skills::after{
  content:"☞";
  font-size: 400px;
  line-height: 400px;
  opacity: 0.4;
  position: absolute;
  bottom: -500px;
  left: 10%;
  transform: translate(-50%,-50%) rotate(-45deg);
  animation-name: pointMove;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  z-index: -99;
}
@keyframes pointMove{
  from{
    transform: translate(-50%,-50%) rotate(-45deg);
  }
  50%{
    transform: translate(-25%,-75%) rotate(-45deg);
  }
  to{
    transform: translate(-50%,-50%) rotate(-45deg);
  }
}


/* 포트폴리오 */
#portfolio{
  width: 100%;
  margin: 100px 0;
  position: relative;
}
#portfolio .portfolio-list-wrap{
  width: 800px;
  height: 456px;
  background-color: black;
  border: 3px solid white;
  margin: 0 auto;
  overflow:hidden;
}
#portfolio .portfolioList{
  width: 600px;
  height: 450px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
#portfolio .portfolioList #listHome{
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
#listHome .img-preview{
  order: 5;
}
#listHome a:nth-of-type(1){
  order: 3;
}
#listHome a:nth-of-type(2){
  order: 4;
}
#listHome a:nth-of-type(3){
  order: 1;
}
#listHome a:nth-of-type(4){
  order: 2;
}
.portfolioList #listHome .moreInfo:link,
.portfolioList #listHome .moreInfo:visited{
  width: 45%;
  height: 10%;
  text-align: left;
}
.portfolioList #listHome .img-preview{
  width: 80%;
  height: 60%;
  border: 1px solid white;
  flex-shrink: 0;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.portfolioList #listHome .img-preview::after{
  content:"?";
  text-align: center;
  font-size: 150px;
  line-height: 268px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, red, red 12.5%, orange 12.5%, orange 25%,yellow 25%, yellow 37.5%, yellowgreen 37.5%, yellowgreen 50%,green 50%, green 62.5%, blue 62.5%, blue 75%, navy 75%, navy 87.5%, purple 87.5%, purple);
  position: absolute;
  top: 0;
  left: 0;
}
#listHome a:hover ~ .img-preview::after{
  display: none;
}
#portfolio .portfolioList li{
  background-color: #6203bc;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 450px;
  border-bottom: 1px solid black;
  flex-shrink: 0;
  position: relative;
}
#portfolio .portfolioList li:not(:first-of-type) .imgContainer{
  display: inline-block;
  width: 50%;
  height: 50%;
  position: relative;
}
.imgContainer img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#portfolio .portfolioList li:not(:first-of-type) .listTitle{
  font-size: 2.4rem;
  line-height: 4rem;
  width: 50%;
  height: 25%;
  display: flex;
  padding-left: 20px;
  align-items: flex-end;
}
#portfolio .portfolioList li .moreInfo:link,
#portfolio .portfolioList li .moreInfo:visited{
  color: white;
  font-size: 2.2rem;
}
#portfolio .portfolioList li:not(:first-of-type) .moreInfo:link,
#portfolio .portfolioList li:not(:first-of-type) .moreInfo:visited{
  width: 50%;
  height: 25%;
  display: flex;
  padding-left: 20px;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 50%;
}
#portfolio .portfolioList li .moreInfo:hover::before{
  content:"▶ ";
  padding-right: 0.5rem;
}
#portfolio .portfolioList li:not(:first-of-type) .infomation{
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 2.5rem;
  font-weight: 400;
  width: 100%;
  height: 40%;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 0;
}
#portfolio .portfolioList li .home-anchor{
  color: white;
  font-size: 2.2rem;
  font-size: 2rem;
  width: 200px;
  height: 10%;
  padding: 0 20px;
  display: flex;
  justify-content: right;
  align-items: center;
  position: absolute;
  top: 90%;
  right: 0;
}
#portfolio .portfolioList li .home-anchor::before{
  content: " ← ";
  padding-right: 10px;
}
#portfolio .portfolioList li .home-anchor:hover::before{
  padding-right: 20px;
}
#portfolio::before{
  content: "◇";
  color: cyan;
  font-size: 800px;
  font-weight: 400;
  line-height: 800px;
  opacity: 0.4;
  position: absolute;
  left: 85%;
  top: 50%;
  transform: translate(-50%,-65%);
  z-index: -99;
  animation-name: mailColor;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#portfolio::after{
  content: "★";
  color: cyan;
  font-size: 100px;
  line-height: 100px;
  opacity: 0.4;
  position: absolute;
  bottom: -150px;
  left: 10%;
  transform: translate(-50%,-50%);
  animation-name: mailColor;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* 연락처 */

#address{
  width: 100%;
  height: 500px;
  margin: 100px 0;
  position: relative;
}
#address .container{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#address .email:link,
#address .email:visited{
  color: white;
  font-size: 5rem;
  white-space: nowrap;
}
#address .email::after{
  content: "← click!";
  color: cyan;
  font-size: 2rem;
  animation-name: mailColor;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#address .email:hover{
  color: cyan;
  text-shadow: 2px 2px 0 lightgray;
  animation-name: mailColor;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes mailColor{
  from{
    filter: none;
  }
  25%{
    filter: hue-rotate(90deg);
  }
  50%{
    filter: hue-rotate(180deg);
  }
  75%{
    filter: hue-rotate(270deg);
  }
  to{
    filter: hue-rotate(360deg);
  }
}
#address .email:hover::before,
#address .email:hover::after{
  content: "  ✉  ";
  color: white;
  font-size: 5rem;
}
#address .comment{
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 4rem;
  z-index: 20;
}
#address .githubCat{
  position: absolute;
  bottom: -110px;
  left: 85%;
  transform: translateX(-50%);
}
#address .hiddenText{
  display: inline-block;
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: 10px;
  text-shadow: -1px 0 white, 1px 0 white, 1px 0 white, 0 -1px white;
  opacity: 0.4;
  position: absolute;
  bottom: -80px;
  left: 65%;
  transform: translateX(-50%);
  user-select: none;
}
#address .githubCat img{
  width: 300px;
  height: 300px;
  user-select: none;
}
#address::before{
  content:"★";
  color: yellow;
  font-size: 500px;
  line-height: 500px;
  opacity: 0.3;
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-50%,-50%);
  animation-name: mailColor;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#address::after{
  content:"★";
  color: cyan;
  font-size: 300px;
  line-height: 300px;
  opacity: 0.3;
  position: absolute;
  top: 10%;
  left: 80%;
  transform: translate(-50%,-50%);
  animation-name: mailColor;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index:-99;
}

/* 푸터 */
#footer{
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  width: 100%;
  height: 150px;
  background-color: #6203bc;
  /* background-color: #3a316f; */
}
#footer .container{
  display: flex;
  height: 150px;
  justify-content: space-around;
  align-items:center;
}
#footer a:link,
#footer a:visited{
  color: white;
  font-size: 2.2rem;
  font-weight: 600;
  margin-left: 27px;
}
#footer a:hover{
  margin: 0;
}
#footer a:hover::before{
  content:" ▲ ";
}

/* 1220 미디어 쿼리 */
@media screen and (max-width: 1221px) {

  /* 글자 크기 조절 */
  #portfolio .portfolioList li .infomation,
  #profile p,
  #skills .skillList li p,
  #footer{
    font-size: 1.6rem;
  }

  /* 1220 음악 */
  #music{
    width: 80px;
    height: 80px;
  }

  /* 1220 프로필 */
  #profile .profileImage{
    height: 32.5rem;
  }
  #profile .profile,
  #profile .selfIntroduction{
    line-height: 2.5rem;
  }
  #profile .profile{
    height: 10rem;
  }
  #profile .selfIntroduction{
    height: 18rem;
    top: 15rem;
  }

  /* 1220 기술 */
  #skills .skillList{
    gap: 0;
  }
  #skills .skillList li{
    width: calc(100%/3);
  }
  #skills .skillList li .animationBox{
    width: 100%;
  }

  /* 1220 포트폴리오 */
  #portfolio .portfolioList li .moreInfo:link,
  #portfolio .portfolioList li .moreInfo:visited{
    line-height: 5rem;
  }

  /* 1220 연락처 */
  #address .comment{
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  #address .githubCat img{
    width: 250px;
    height: 250px;
  }

}

/* 1000 미디어 쿼리 */
@media screen and (max-width: 1001px) {

  /* 1000 내비 */
  #navi #naviList{
    display: none;
  }
  
  /* 1000 기술 */
  #skills .skillList{
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  #skills .skillList li{
    width: 80%;
    height: 300px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 40px;
  }
  #skills .skillList li:hover::before{
    content: " ▶ ";
    font-size: 180px;
    line-height: 180px;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
  #skills .skillList li .animationBox{
    width: 240px;
    height: 240px;
  }
  #skills .skillList li img{
    margin: 0;
  }
  #skills .skillList:hover li h3::before,
  #skills .skillList:hover li h3::after{
    content:"";
  }
  #skills .skillList li p{
    width: calc(100% - 240px);
  }
  #skills::before{
    content: "☜";
    font-size: 300px;
    line-height: 300px;
    opacity: 0.4;
    position: absolute;
    top: 300px;
    left: 90%;
    transform: translate(-50%,-50%) rotate(45deg);
    animation-name: pointMove;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    z-index: -99;
  }

  /* 1000 포트폴리오 */
  #portfolio .portfolioList li:not(:first-of-type) .listTitle{
    font-size: 2rem;
    line-height: 3rem;
  }
  #portfolio .portfolioList li .moreInfo:link,
  #portfolio .portfolioList li .moreInfo:visited{
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
  #portfolio .portfolioList li:not(:first-of-type) .infomation{
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  /* 1000 연락처 */
  
  #address .email:link,
  #address .email:visited{
    color: cyan;
    text-shadow: 2px 2px 0 lightgray;
    animation-name: mailColor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  #address .email::before,
  #address .email::After{
    content: "  ✉  ";
    color: white;
    font-size: 5rem;
  }
  #address .hiddenText{
    left: 60%;
  }

  /* 1000 푸터 */
  #footer, 
  #footer .container{
    height: 120px;
  }

}

/* 830 미디어 쿼리 */
@media screen and (max-width: 831px) {
  
  /* 830 로딩화면  */
  #loadingScreen{
    font-size: 3rem;
    line-height: 3rem;
  }
  #loadingScreen::before,
  #loadingScreen::after{
    font-size: 5rem;
    line-height: 5rem;
  }


  /* 830 프로필 */
  #profile{
    height: 800px;
  }
  #profile .container{
    height: 100%;
  }
  #profile .profileImage{
    width: 80%;
    height: 300px;
    margin: 0 auto;
  }
  #profile .name{
    display: block;
    text-align: center;
    padding: 0;
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translateX(-50%);
  }
  #profile .profile,
  #profile .selfIntroduction{
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  #profile .profile{
    top: 380px;
  }
  #profile .selfIntroduction{
    top: 500px;
  }

  /* 830 기술 */
  #skills .skillList li:hover::before{
    font-size: 140px;
    line-height: 140px;
  }

  /* 830 포트폴리오 */
  #portfolio .portfolio-list-wrap{
    width: 600px;
    height: 343.5px;
  }
  #portfolio .portfolioList{
    width: 450px;
    height: 337.5px;
  }
  #portfolio .portfolioList li{
    height: 337.5px;
  }
  #portfolio .portfolioList li .moreInfo:link,
  #portfolio .portfolioList li .moreInfo:visited{
    font-size: 1.6rem;
  }

  /* 830 연락처 */
  #address{
    height: 400px;
  }
  #address .email:link,
  #address .email:visited{
    font-size: 4rem;
    line-height: 5rem;
  }
  #address .comment{
    font-size: 2rem;
    line-height: 3rem;
  }
  #address .hiddenText{
    font-size: 3rem;
    line-height: 4rem;
  }
  #address::before{
    font-size: 400px;
    line-height: 400px;
  }
  #address::after{
    font-size: 250px;
    line-height: 250px;
  }

  /* 830 푸터 */
  #footer{
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  #footer a{
    display: none;
  }

}

/* 700 미디어 쿼리 */
@media screen and (max-width: 701px) {

  /* 700 이펙트 옵션 */
  .effectOff-label{
    text-align: left;
    left: 30px;
  }
  .effectOff-label:hover::before{
    content:"";
  }
  .effectOff-label:hover::after{
    content:" ? ";
  }
  
  /* 700 인트로 */
  #introPage .page-title{
    font-size: 3rem;
    line-height: 5rem;
  }

  /* 700 기술 */
  #skills .skillList li{
    width: 100%;
    gap: 0;
  }
  #skills .skillList li:hover::before{
    font-size: 80px;
    line-height: 80px;
  }
}

/* 640 미디어 쿼리 */
@media screen and (max-width: 641px) {

  /* 640 포트폴리오 */
  #portfolio .portfolio-list-wrap{
    width: 356px;
    height: 456px;
  }
  #portfolio .portfolioList{
    width: 300px;
    height: 450px;
  }
  #portfolio .portfolioList #listHome{
    width: 300px;
    height: 450px;
  }
  .portfolioList #listHome .img-preview{
    width: 250px;
    height: 250px;
  }
  #portfolio .portfolioList #listHome .moreInfo:link,
  #portfolio .portfolioList #listHome .moreInfo:visited{
    text-align: center;
    width: 100%;
  }
  #listHome a:nth-of-type(1){
    order: 4;
  }
  #listHome a:nth-of-type(2){
    order: 3;
  }
  #listHome a:nth-of-type(3){
    order: 2;
  }
  #listHome a:nth-of-type(4){
    order: 1;
  }
  #portfolio .portfolioList li{
    width: 300px;
    height: 450px;
  }
  #portfolio .portfolioList li:not(:first-of-type) .imgContainer{
    width: 100%;
    height: 40%;
  }
  #portfolio .portfolioList li:not(:first-of-type) .listTitle{
    width: 100%;
    height: 10%;
    position: absolute;
    top: 40%;
    left: 0;
  }
  #portfolio .portfolioList li:not(:first-of-type) .moreInfo:link,
  #portfolio .portfolioList li:not(:first-of-type) .moreInfo:visited{
    width: 100%;
    height: 10%;
    top: 50%;
    left: 0;
  }
  #portfolio .portfolioList li:not(:first-of-type) .infomation{
    font-size: 1.4rem;
    line-height: 2rem;
    width: 100%;
    height: 30%;
    top: 60%;
    left: 0;
  }
  #portfolio .portfolioList li .home-anchor{
    font-size: 1.6rem;
  }
  
  /* 640 연락처 */
  #address .email:link, #address .email:visited{
    font-size: 3rem;
    line-height: 4rem;
  }
  #address .comment{
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  #address .email::before,
  #address .email::after,
  #address .email:hover::before,
  #address .email:hover::after{
    content: "";
  }

  /* 640 푸터 */
  #footer{
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

/* 550 미디어 쿼리 */
@media screen and (max-width: 551px) {

  .page-title{
    font-size: 3.6rem;
  }

  /* 550 로딩 */
  #loadingScreen{
    font-size: 2rem;
    line-height: 3rem;
  }
  #loadingScreen p{
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
  }

  /* 550 프로필 */
  #profile .profileImage{
    width: 100%;
    height: 250px;
  }
  #profile .profileImage::after{
    font-size: 4rem;
    line-height: 6rem;
  }
  #profile .name{
    width: 100%;
  }
  #profile .profile{
    letter-spacing: 2px;
    white-space: normal;
  }
  #profile .selfIntroduction{
    top: 550px;
  }


  /* 550 기술 */
  #skills .skillList li{
    flex-flow: column nowrap;
    height: 500px;
  }
  #skills .skillList li:hover::before{
    content: "";
  }
  #skills .skillList li:hover h3::before{
    content: " ▶ ";
  }
  #skills .skillList li:hover h3::after{
    content: " ◀ ";
  }
  #skills .skillList li p{
    width: 100%;
  }

  /* 550 포트폴리오 */
  #portfolio .portfolio-list-wrap{
    width: 306px;
  }
  #portfolio .portfolioList li .moreInfo:link,
  #portfolio .portfolioList li .moreInfo:visited{
    font-size: 2rem;
    line-height: 3rem;
  }
  
  
  /* 550 연락처 */
  #address .hiddenText{
    left: 50%;
  }
  #address::before{
    opacity: 0.1;
  }
  #address .email:link,
  #address .email:visited{
    font-size: 2.4rem;
  }
  #address .hiddenText{
    font-size: 2.4rem;
    left: 35%;
  }
}